.hidden {
  display: none;
}

#rogers {
  float: none;
  width: 50%;
}

#resultBox {
  display: none;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.thing {
  position: relative;
}

#rogers2 {
  display: none;
  width: 50%;
}

#rogers3 {
  display: none;
  width: 50%;
}

#again {
  display: none;
}
#headbox {
  color: white;
  border: 5px solid white;
  padding: 4px;
  background-color: peru;
  text-align: center;
  margin-top: 10px;
}

body {
  background-color: plum;
}

.row {
  text-align: center;
}

.btn {
  color: white;
  border: 2px solid white;
  padding: 4px;
  background-color: peru;
  text-align: center;
}

.question {
  display: none
 
}

.center {
  text-align: center;
}

.panel {
  margin-top: 5%;
  margin-right: 20%;
  margin-left: 20%;
  background-color: rgba(147, 228, 224, 0.671);
  border: 5px solid black;
 

}

.panel > .panel-heading {
  text-align: center;
  background-color: peru;
  border-bottom-width: 5px;
  border-bottom-color: black;
}

.rog {
width:80%;
z-index: 0;  
}

.text-over-img {
	z-index:1;
	font-size: 1.2em;
	margin-top: -100px;
}




